{% extends 'templates/estate_base.html' %}
{% block title %} {{ property.name }} {% endblock title %}

{% block content %}

    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{property.image}});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10">
            <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
            <h1 class="mb-2">{{ property.property_name }}</h1>
            <p class="mb-5"><strong class="h2 text-success font-weight-bold">{{ frappe.format(property.grand_total, {'fieldtype':'Currency'}) }}</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div>
              <div class="slide-one-item home-slider owl-carousel">
                <div><img src="{{property.image}}" alt="Image" class="img-fluid"></div>
                <div><img src="{{property.image}}" alt="Image" class="img-fluid"></div>
                <div><img src="{{property.image}}" alt="Image" class="img-fluid"></div>
              </div>
            </div>
            <div class="bg-white property-body border-bottom border-left border-right">
              <div class="row mb-5">
                <div class="col-md-6">
                  <strong class="text-success h1 mb-3">{{ frappe.format(property.grand_total, {'fieldtype':'Currency'}) }}</strong>
                </div>
                <div class="col-md-6">
                  <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                  <li>
                    <span class="property-specs">Beds</span>
                    <span class="property-specs-number">2 <sup>+</sup></span>
                    
                  </li>
                  <li>
                    <span class="property-specs">Baths</span>
                    <span class="property-specs-number">2</span>
                    
                  </li>
                  <li>
                    <span class="property-specs">SQ FT</span>
                    <span class="property-specs-number">7,000</span>
                    
                  </li>
                </ul>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-4 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Property Code</span>
                  <strong class="d-block">{{ property.name }}</strong>
                </div>
                  <div class="col-4 text-center border-bottom border-top py-3">
                    <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
                    <strong class="d-block">{{ property.property_type }}</strong>
                  </div>
                <div class="col-4 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Property Status</span>
                  <strong class="d-block">{{property.status}}</strong>
                </div>
                <div class="col-4 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Actual Property Price</span>
                  <strong class="d-block">{{ frappe.format(property.property_price, {'fieldtype':'Currency'}) }}</strong>
                </div> 
                <div class="col-4 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Actual Property Price</span>
                  <strong class="d-block">{{ frappe.format(property.property_price, {'fieldtype':'Currency'}) }}</strong>
                </div>
                <div class="col-4 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Discount</span>
                  <strong class="d-block">{{property.discount}} %</strong>
                </div>
              </div>
              <h2 class="h4 text-black">More Info</h2>
              <p>{{ property.description }}</p>
              
              <p>
                <div class="mt-5">
                  <h3>Amenities</h3>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amenity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for amenity in property.amenities %}
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{amenity.amenity}}</td>
                        <td>{{ frappe.format(amenity.amenity_price, {'fieldtype':'Currency'}) }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </p>

            </div>
          </div>
          <div class="col-lg-4">

            <div class="bg-white widget border rounded">

              <h3 class="h4 text-black widget-title mb-3">Contact Agent</h3>
              <form action="" class="form-contact-agent">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" value="{{agent.agent_name}}" disabled>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" value="{{agent.email}}" disabled>
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" id="phone" class="form-control" value="{{agent.phone}}" disabled>
                </div>

              </form>
            </div>

          </div>
          
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm bg-light">
      <div class="container">

        <div class="row">
          <div class="col-12">
            <div class="site-section-title mb-5">
              <h2>Related Properties</h2>
            </div>
          </div>
        </div>
      
        <div class="row mb-5">

        {% for rel_prop in related_properties %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="/property/detail/{{rel_prop.name}}" class="property-thumbnail">
                <div class="offer-type-wrap">
                  <span class="offer-type bg-{% if rel_prop.status=='Rent' %}success{% elif rel_prop.status=='Sale' %}danger{% else %}warning{% endif %}">{{rel_prop.status}}</span>
                </div>
                <img src="{{rel_prop.image}}" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                <h2 class="property-title"><a href="/property/detail/{{rel_prop.name}}">{{rel_prop.property_name}}</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> {{rel_prop.address}}</span>
                <strong class="property-price text-primary mb-3 d-block text-success">{{ frappe.format(rel_prop.grand_total, {'fieldtype':'Currency'}) }}</strong>


              </div>
            </div>
          </div>
            {% endfor %}

        </div>
      </div>

      {% endblock content %}
